// Bootstrap class overrides
strong {
    font-weight: bold;
}

%btn {
    border-radius: 50px;
    padding: 10px 20px;
    text-transform: uppercase;
    border: none;
    transition: linear 0.3s;
    opacity: 1;

    &:focus,
    &:active,
    &:hover {
        background-color: inherit;
        // border: ;
        color: inherit;
        outline: none !important;
        box-shadow: none !important;
    }
}

.btn-primary {
    @extend %btn;
    background-color: transparent;
    border: 2px solid $primary;
    color: $primary;

    &:hover {
        border: 2px solid $secondary !important;
        background-color: transparent !important;
        color: $secondary !important;
    }

    &:focus,
    &.active {
        border: 2px solid $secondary !important;
        background-color: transparent !important;
        color: $secondary !important;
    }
}

.btn-secondary {
    @extend %btn;
    background-color: $primary;
    border: 2px solid $primary;
    color: $light;

    &:hover {
        border: 2px solid $primary !important;
        background-color: transparent !important;
        color: $primary !important;
    }

    &:focus,
    &.active {
        border: 2px solid $primary;
    }
}
