// Bootstrap class overrides
strong {
    font-weight: bold;
}

%btn {
    border-radius: 50px;
    padding: 10px 20px;
    text-transform: uppercase;
    border: none;
    transition: linear 0.3s;
    opacity: 1;

    &:focus,
    &:active {
        outline: none;
    }
}

.btn-primary {
    @extend %btn;
    background-color: transparent;
    border: 2px solid $primary;
    color: $primary;

    &:hover {
        border: 2px solid $secondary;
        background-color: transparent;
        color: $secondary;
    }
}
