.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('/img/strasseBergeImHintergrund_1980x1320.jpg') rgba(252, 251, 250, 0.7);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center top;

    img {
        width: 250px;
        border-radius: 50%;
        box-shadow: $shadow1;
    }
}
