.hero {
    min-height: 100vh;
    padding-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('/img/strasseBergeImHintergrund_1980x1320.jpg') rgba(252, 251, 250, 0.7);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center top;

    img {
        width: 250px;
        border-radius: 50%;
        box-shadow: $shadow1;
    }

    h1 {
        font-weight: 300;

        .highlight {
            background-color: $secondary;
            color: $light;
            font-weight: 700;
            padding: 5px 5px 3px 5px;
        }
    }
}

@media only screen and (max-width: 480px) {
    // .hero {
    //     .container {
    //         flex-direction: column;
    //         justify-content: center;
    //     }
    // }
}
