.projects-more {
    .accordion {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .carousel-inner {
        width: 85%;
        margin: 0 auto;
    }

    .carousel-control-next,
    .carousel-control-prev {
        width: 10%;
    }

    .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23465573' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
    }

    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23465573' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
    }

    .img-set-2 {
        flex-direction: column;

        img {
            border-radius: 5px;
            box-shadow: $shadow1;
            margin: 0.5rem;
        }
    }
}
