.projects-main {
    margin: 4rem 1rem;

    .project {
        .logo-bg {
            background-blend-mode: overlay;
            background-color: rgba(252, 251, 250, 0.9);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center 15%;
        }

        h2 {
            font-size: 2.6rem;
            margin: 0;
            line-height: 1.2;
        }

        h3 {
            font-family: $font-family-sans-serif;
            font-weight: 400;
            font-size: 0.9rem;
            margin-bottom: 1rem;
            letter-spacing: 0.2rem;
            text-transform: uppercase;
        }

        h4 {
            font-family: $font-family-sans-serif;
            font-weight: 400;
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }

        .stack-icon {
            height: 15px;
            margin-right: 0.6rem;
        }

        ul {
            list-style-type: none;
            margin: 0 0 0 1rem;
            padding: 0;
            line-height: 1.5;

            li {
                display: flex;
                margin-bottom: 0.3rem;

                svg {
                    margin-top: 3px;
                    margin-right: 0.6rem;
                }
            }
        }

        .btn-box {
            margin-top: 2rem;
            display: flex;
            flex-wrap: wrap;
        }

        .img-set {
            display: flex;
            justify-content: center;
            align-items: center;

            .img-background {
                position: relative;
                top: 0;
                right: 2%;
                width: 90%;
                min-height: 380px;
                border-radius: 5px;
                -webkit-box-shadow: $shadow1;
                -moz-box-shadow: $shadow1;
                box-shadow: $shadow1;
            }

            .img-desktop {
                position: absolute;
                width: 120%;
                top: -40px;
                left: -60px;
            }

            .img-tablet {
                position: absolute;
                width: 60%;
                top: 8%;
                right: 16%;
            }

            .img-mobile {
                position: absolute;
                width: 35%;
                top: 32%;
                right: 18%;
            }
        }
    }
}
