.services {
    background-color: $light-accent;
    overflow-x: hidden;

    .left {
        z-index: 2;

        .flipcard {
            background-color: $light;
            border-radius: 15px;
            height: 550px;
            box-shadow: $shadow1;

            &.front {
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .icon {
                    background-color: $primary;
                    border-radius: 10px;
                    color: $light;
                    padding: 0.7rem;
                }

                & > div:last-child {
                    p {
                        margin-bottom: 0;
                    }
                }
            }

            &.back {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap: 15px 15px;
                justify-items: center;
                align-items: center;

                svg,
                img {
                    cursor: pointer;
                }
            }
        }
    }

    .right {
        h2 {
            color: $secondary;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0 0 0 2rem;

            li {
                position: relative;
                margin-bottom: 0.3rem;

                svg {
                    position: absolute;
                    left: -1.5rem;
                    top: 3px;
                }
            }
        }
    }

    .toggle-button-left {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .toggle-button-right {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}
