#side-navbar {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    a {
        opacity: 0.4;
        padding: 0.6rem 1rem;

        &.is-current,
        &:hover {
            opacity: 1;
        }
    }
}
