#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

// #Scrollbar
body::-webkit-scrollbar {
    width: 0.7em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: $primary;
    border-radius: 10px;
}

.highlight {
    background-color: $secondary;
    color: $light;
    font-weight: bold;
    padding: 5px 5px 3px 5px;
}

.bold {
    font-weight: bold !important;
}

.underlined {
    text-decoration: underline;
}

h2 {
    font-size: 2.6rem;
    margin: 0;
    line-height: 1.2;
}

.h3-bg {
    position: absolute;
    top: 0;
    left: 0;
    font-family: $font-family-sans-serif;
    font-weight: 900;
    font-size: 9vh;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    opacity: 0.07;
    transform: translate(-10%, -25%);
}

// #Typist cursor
.Typist .Cursor {
    display: inline-block;

    &--blinking {
        opacity: 1;
        animation: blink 1s linear infinite;
        @keyframes blink {
            0% {
                opacity: 1;
            }
            50% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }
}
