@import 'custom_bootstrap';
@import 'bootstrap/scss/bootstrap';
@import 'custom';

@import 'utilities';

html {
    font-size: 15px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: $light;
    color: $primary;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@import 'header';
