@import 'custom_bootstrap';
@import 'bootstrap/scss/bootstrap';
@import 'custom';

@import 'utilities';

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
